<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jcfquery="http://www.daewoobrenic.co.kr/schema/jcfquery"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.daewoobrenic.co.kr/schema/jcfquery http://www.daewoobrenic.co.kr/schema/jcfquery/jcf-query-1.0.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<bean id="publisher" class="jcf.query.core.handler.event.QueryEventPublisher" />

	<bean id="listener" class="jcf.query.core.handler.event.QueryLoggingEventListener" />

	<bean id="applicationEventMulticaster" class="org.springframework.context.event.SimpleApplicationEventMulticaster">
		<property name="taskExecutor" ref="executor" />
	</bean>

	<bean id="executor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" autowire-candidate="true">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="100000" />
	</bean>

</beans>
