<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jcfsua="http://www.daewoobrenic.co.kr/schema/jcfsua"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.daewoobrenic.co.kr/schema/jcfsua http://www.daewoobrenic.co.kr/schema/jcfsua/jcf-sua-1.0.xsd">

	<context:component-scan base-package="sample"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<jcfsua:sua-config auto-config="true" webflow-prefix="/" webflow-suffix=".jsp" />

	<!-- 컨트롤러와 연동한 테스트 케이스를 개발할 때 사용할 Test Servlet -->
	<bean id="jcfSuaTestServlet" class="jcf.sua.JcfSuaTestServlet" autowire-candidate="true" />

	<bean id="messageSourceAccessor"
		class="org.springframework.context.support.MessageSourceAccessor">
		<constructor-arg ref="messageSource" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>./message/messages_ko
				</value>
			</list>
		</property>
		<property name="cacheSeconds" value="0" />
	</bean>

</beans>
